<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>
<!--
  html helper method
  ActionLink() method requires at least 2 parameters:
  1) 1st param: display text for the link 
  2) 2nd param: target action in the controller 
  2) 3rd param (optional): specifies the controller for the route 
-->
<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>